<div class="navigator">

    <div class="first-part">
        <a href="{% url "home" %}">
        <h1>AI Interface</h1>
    </a>
    </div>

    <div class="second-part">
        <table class="navigation">
        <tr>
            <td>
                <a href="{% url "chat" %}">Chat AIs</a>
            </td>
            <td>
                <a href="{% url "image_generator" %}">DALL-E</a>
            </td>
            <td>
                <a href="{% url "gallery" %}">Gallery</a>
            </td>
        </tr>
    </table>
    </div>
</div>