body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5ede5; /* white background */
}

h1 {
  /*display: inline-block;*/
  text-align: center;
  color: #f6a281; /* light salmon color */
  font-size: 3em; /* 3 times the size of the base font */
}

form {
  margin-top: 20px;
}

textarea {
  width: 50%; /* 75% of the width of the containing element */
  font-size: 1.2em; /* 1.2 times the size of the base font */
}

a {
  color: #0000ff; /* blue color */
  text-decoration: none;
}

a:hover {
  color: #ff0000; /* red color */
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 2px solid #93bff8; /* blue border */
  width: 75%; /* 75% of the width of the containing element */
}

td {
  text-align: center;
  padding: 5px;
  width: 500px;
  background-color: #d0eaf3; /* light blue color */
}

input[type="submit"] {
  margin-top: 10px;
  font-size: 1.2em; /* 1.2 times the size of the base font */
}

.links {
  /*display: inline-block;*/
  /*float: right;*/
  font-size: 1.3em; /* 1.5 times the size of the base font */
}

.conversation {
  margin: 20px auto;
  background: #fff5d5;
  width: 75%;
  padding: 10px;
  overflow-y: scroll; /* add scrollbars if necessary */
}

.image {
  margin: 20px auto;
  width: 50%; /* 75% of the width of the containing element */
  padding: 10px;
}

#generated-image {
  width: 100%; /* 100% of the width of the containing element */
}

.gallery {
  margin: 20px auto;
  width: 75%; /* 75% of the width of the containing element */
  background: #fff5d5;
  padding: 10px;
  overflow-y: scroll; /* add scrollbars if necessary */
}

.gallery img {
  width: 200px; /* 200 pixels */
  height: 200px; /* 200 pixels */
  margin: 10px;
}

.footer {
  font-size: 0.8em;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #cccccc; /* light grey color */
  padding-top: 20px;
}