{% extends "patterns/main.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div id="container">
            <div style="width: 25%; display: inline-block;"></div>
            <div style="width: 50%; padding: 10px; text-align: left;">


                <h3 style="text-align: center">Settings</h3>

                <form method="post" action="{% url "profile" %}">
                    {% csrf_token %}
                    <p>Username: <b>{{ user.username }}</b></p>

                    <p>Open AI key:</p>

                    <input type="text" name="openai_key"
                           value="{{ form.openai_key.0.data.value|default_if_none:"" }}" style="width: 650px; padding: 3px">

                    <p style="font-size: 0.8em">
                        You can obtain an API key from
                        <a href="https://beta.openai.com/account/api-keys" target="_blank">Open AI</a>.
                    </p>

                    <br>
                    <br>
                    <input type="submit">
                </form>
                <br>

            </div>
            <div style="width: 25%;"></div>
        </div>
    {% endif %}
{% endblock %}