{% extends "main.html" %}

{% block content %}
    <form action="{% url "ig_ai" %}" method="post" id="generateForm">
        {% csrf_token %}
        <table class="generate">
            <tr>
                <td class="title">
                    {{ form.size.label }}
                </td>
                <td class="title">
                    {{ form.amount.label }}
                </td>
            </tr>
            <tr>
                <td class="field">
                    {% for size in form.size %}
                        {{ size }}
                    {% endfor %}
                </td>
                <td class="field">
                    {{ form.amount }}
                </td>
            </tr>
        </table>

        <div class="default-padding">
            {{ form.prompt }}
        </div>

        <input type="submit" id="submitButton" class="main" value="Generate">
    </form>



    {% if generated %}
        {% if "http" not in generated.0 %}
            <p>{{ generated.0 }}</p>
        {% else %}
            <div class="image">
                {% for url in generated %}
                    <table class="generated-images" id="action_buttons">
                        <tr>
                            <th colspan="3">
                                <img src="{{ url }}" class="size" alt="generated image" id="img"
                                     onclick="this.classList.toggle('zoom');">
                            </th>
                        </tr>
                        <tr>

                            <td>
                                <a href="{% url "increase_img" url prompt size %}" target="_blank">
                                    <input type="button" class="secondary" value="Increase" disabled>
                                </a>
                            </td>

                            <td>
                                <a href="{% url "save_img" url prompt size %}" target="_blank">
                                    <input type="button" class="secondary" value="Save">
                                </a>
                            </td>

                            <td>
                                <a href="{% url "variate_url" url prompt size amount %}">
                                    <input type="button" class="secondary" value="Variate">
                                </a>
                            </td>

                        </tr>
                    </table>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}


    {% if gallery %}
        {% load static %}
        <div class="gallery">

            {% for dict in gallery %}
                <p style="text-align: left">
                    {{ dict.date }} - {{ dict.size }} - {{ dict.prompt }}
                </p>
                {% for img in dict.images %}
                    <table class="generated-images">
                        <tr style="width: 50%">
                            <th colspan="3">
                                <img src="{% static img.path %}" class="size" alt="generated image" id="img"
                                     onclick="this.classList.toggle('zoom');">
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% static img.path %}" download>
                                    <input type="button" class="secondary" value="Download"
                                           style="width: 6em">
                                </a>
                            </td>
                            <td>
                                <a href="{% url "gallery_img" img.pk %}">
                                    <input type="button" class="secondary" value="Open"
                                           style="width: 4em;">
                                </a>
                            </td>
                            <td>
                                <a href="{% url "variate_img" img.pk %}">
                                    <input type="button" class="secondary" value="Variate"
                                           style="width: 4.5em;">
                                </a>
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            {% endfor %}

        </div>
    {% endif %}


    <script>
        document.getElementById("generateForm").addEventListener("submit", function (event) {
            event.preventDefault();
            document.getElementById("submitButton").disabled = true;
            this.submit();
        });
        document.getElementById("saveForm").addEventListener("submit", function (event) {
            event.preventDefault();
            document.getElementById("saveButtonId").disabled = true;
            this.submit();
        });
    </script>

{% endblock %}
