{% extends "patterns/main.html" %}

{% block content %}

    <p>{{ message }}</p>

    {% if image %}
        {% load static %}
        <div class="one_image">
            <table class="one_image">
                <tr>
                    <td class="td"> {{ image.created }} </td>
                    <td class="td"> {{ size }}</td>
                </tr>
                <tr>
                    <th colspan="2"> {{ image.prompt }} </th>
                </tr>
            </table>

            <a href="{% static image.path %}" download="">Download</a> |
            <a href="{% url "variate_img" image.pk %}">Variate</a>

            <br>

            <a href="{% static image.path %}" download="">
                <img src="{% static image.path %}" class="image_details" alt="generated image" id="img">
            </a>

            <br><br>
            <table style="width: 30%; text-align: center;">
                <tr>
                    <td style="width: 50%;">
                        <a href="{% url "gallery_img" image.pk %}"> Go to Gallery</a>
                    </td>
                    <td style="width: 50%;">
                        <a href="{% url "delete_img" image.pk %}">Delete</a>
                    </td>
                </tr>
            </table>


        </div>
    {% endif %}

{% endblock %}