{# Code part to display Saved images from DB #}
{% if gallery %}
    {% load static %}
    <p style="font-size: 20px">{{ gallery_message }}</p>
    <div class="gallery">

        {% for dict in gallery %}
            <div>{{ dict.num }}

                <p style="text-align: left">
                    {{ dict.date }} | Size: {{ dict.size }} | Prompt: {{ dict.prompt }}
                </p>

                {% for img in dict.images %}
                    {#                    <a href="{% url "gallery_image" img.pk %}">#}
                    {#                        <img src="{% static img.path %}" class="size" alt="generated image" id="img">#}
                    {#                    </a>#}

                    <table class="generated-images" id="action_buttons">
                        <tr>
                            <th colspan="3">
                                <a href="{% url "gallery_img" img.pk %}">
                                    <img src="{% static img.path %}" class="size"
                                         alt="generated image" id="img">
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <td style="width: auto">
                                <a href="{% static img.path %}" target="_blank" download>
                                    <input type="button" class="secondary" value="Download">
                                </a>
                            </td>
                            <td style="width: auto">
                                <a href="{% url "delete_img" img.id %}" target="_blank">
                                    <input type="button" class="secondary" value="Delete">
                                </a>
                            </td>
                            <td style="width: auto">
                                <a href="{% url "variate_img" img.pk %}">
                                    <input type="button" class="secondary" value="Variate"
                                           style="width: 4.5em;">
                                </a>
                            </td>
                        </tr>
                    </table>
                {% endfor %}

            </div>
        {% endfor %}

    </div>
{% endif %}