<div class="navigator">
    <h1>AI Interface</h1>
        <table class="navigation">
            <tr>
                <td>
                    <a href="{% url "home" %}">Main Page</a>
                </td>
                <td>
                    <a href="{% url "chat" %}">Chat</a>
                </td>
                <td>
                    <a href="{% url "generate" %}">DALL-E</a>
                </td>
                <td>
                    <a href="{% url "magic" %}">Magic</a>
                </td>
            </tr>
        </table>
</div>