{% extends "patterns/main.html" %}

{% block content %}
    <br>
    <table class="models" id="aiTable">
        <tr>
            <td style="text-align: left; padding-bottom: 30px; width: 100px;">AI</td>
            <td class="title">GPT-4</td>
            <td class="title">GPT-4 32k</td>
            <td class="title">GPT 3.5 turbo</td>
            <td class="title">Davinci 03</td>
            <td class="title">Davinci 02</td>
        </tr>
        <tr>
            <td style="text-align: left; width: 100px;">Description</td>
            <td class="model">Approve required</td>
            <td class="model">Approve required</td>
            <td class="model">Fast, cheap, good</td>
            <td class="model">Old 175b params</td>
            <td class="model">Natural language to code</td>
        </tr>
        <tr>
            <td style="text-align: left; width: 100px;">Price</td>
            <td class="model">$0.03 / $0.06 for 1k</td>
            <td class="model">$0.06 / $0.12 for 1k</td>
            <td class="model">$0.002 / 1k</td>
            <td class="model">$0.02 / 1k</td>
            <td class="model">Free in Beta</td>
        </tr>
        <tr>
            <td style="text-align: left; width: 100px;">Tech</td>
            <td class="model">Text, 4000 symbols</td>
            <td class="model">Text, 16000 symbols</td>
            <td class="model">Text, 2000 symbols</td>
            <td class="model">Text, 2000 symbols</td>
            <td class="model">Code, 1500 symbols</td>
        </tr>
    </table>
    <br>

    <form action="{% url "chat_ai" %}#aiTable" method="post" id="interact_form">
        {% csrf_token %}

        {# I was searching for this *** decision for *** 3 days using tons of *** code on Google and ChatGPT AI #}
        <div class="default-padding">
            {% for model in form.model %}
                {{ model }}
            {% endfor %}
        </div>

        <div class="default-padding">
            <span style="position: relative; top: -3px;">Accurate</span>
            {{ form.accuracy }}
            <span style="position: relative; top: -3px;">Creative</span>
        </div>

        <div class="default-padding">
            {{ form.prompt }}
        </div>

        <input type="submit" class="main" name="submitButton" id="submitButton" value="Send">
    </form>

    {% if response %}

        <div class="conversation">
            {% load static %}
            {{ response|linebreaks }}
        </div>

    {% endif %}

    <table id="history">
        <tr>
            <td>
                <p style="text-align: left;">History (last 10):</p>
            </td>
            <td>
            <p style="text-align: right; width: 95%;"><a href="{% url "chat_history" %}">All History</a></p>
        </td>
        </tr>
    </table>
    {% include "chat/part_chat_history.html" %}


    <script>
        // script to block submit button after click
        document.getElementById("interact_form").addEventListener("submit", function (event) {
            event.preventDefault();
            document.getElementById("submitButton").disabled = true;
            this.submit();
        });
    </script>
{% endblock %}
