{% extends "main.html" %}

<script>
    document.getElementById("generateForm").addEventListener("submit", function(event) {
        event.preventDefault();
        document.getElementById("submitButton").disabled = true;
        this.submit();
    });
    document.getElementById("saveImageForm").addEventListener("submit", function(event) {
        event.preventDefault();
        document.getElementById("saveButton").disabled = true;
        this.submit();
    });
    </script>

{% block content %}

    <form action="{% url "generate" %}" method="POST" name="generateForm" id="generateForm">
        {% csrf_token %}

        <table style="width: 50%">
            <tr>
                <td style="text-align: center; width: 50%;">
                    <p>Size:</p>
                </td>
                <td style="text-align: center; width: 50%;">
                    <label for="amount">Amount</label>:
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <input type="radio" id="size1" name="size" value="1" checked>
                    <label for="size1">256x256</label>

                    <input type="radio" id="size2" name="size" value="2">
                    <label for="size2">512x512</label>

                    <input type="radio" id="size3" name="size" value="3">
                    <label for="size3">1024x1024</label>
                </td>
                <td style="text-align: center">
                    <input style="width: 50px" name="amount" type="number" id="amount" max="10" min="1" value="{{ amount }}">
                </td>
            </tr>
        </table>

        <br><br>
        <textarea name="prompt" rows="10" cols="10" placeholder="Enter your request here">{{ prompt }}</textarea>
        <br>
        <input type="submit" id="submitButton" value="Generate">
    </form>



    {% if generated %}
        {% if "http" not in generated.0 %}
            <p>{{ generated.0 }}</p>
        {% else %}
            <div class="image">
                {% for url in generated %}
                    <table style="display: inline-block;">
                        <tr>
                            <th colspan="2">
                                <img src="{{ url }}" class="img-size" alt="generated image" id="img"
                                     onclick="this.classList.toggle('zoom');">
                            </th>
                        </tr>
                        <tr>
                            <td width="50%">
                                <a href="{% url "variate" "small" url %}">More (s)</a>
                            </td>
                            <td width="50%">
                                <a href="{% url "variate" "big" url %}">More (b)</a>
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}


    {% if gallery %}
        <p style="font-size: 20px">Saved Images:</p>
        <div class="gallery">
            {% for image in gallery %}
                <div id="image-history">{{ image }}</div>
            {% endfor %}
        </div>
    {% else %}
        <p style="color: #7b7d7f; font-size: 13px">No Saved Images</p>
    {% endif %}

{% endblock %}